* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../src/pexels-instawalli.jpg) center no-repeat;
    color: #eee;
}

a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3);
}

table {
    margin: 45px auto;
    font-size: smaller;
    text-align: center;
    th, td {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        margin: 10px;
    }
}

table th {
    width: 110px;
    height: 40px;
}

table td {
    height: 100px;
    padding: 5px;
}

.col {
    width: 70px;
}

.cpp {
    background-color: rgba(76, 79, 74, 0.8);
}

.math {
    background-color: rgba(173, 194, 185, 0.8);
}

.python {
    background-color: rgba(203, 210, 137, 0.8);
}

.english {
    background-color: rgba(196, 122, 155, 0.8);
}

.c {
    background-color: rgba(133, 133, 140, 0.8);
}

.web {
    background-color: rgba(111, 120, 134, 0.8);
}

.pe {
    background-color: rgba(201, 145, 88, 0.8);
}

.his {
    background-color: rgba(211, 218, 196, 0.8);
}

.xc {
    background-color: rgba(236, 197, 208, 0.8);
}

.t1 {
    background-color: rgba(199, 186, 159, 0.8);
}

.t2 {
    background-color: rgba(171, 170, 120, 0.8);
}

