.content>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .icon {
        margin: 5% 10%;
        height: 100px;
    }
    p {
        width: 60%;
    }
    .web {
        margin-left: 10%;
        margin-bottom: 10%;
        width: 80%;
    }
}