.boll-inner {
    margin: auto;
    margin-top: 40px;
    background-color: #579;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 2;
    animation: 1s linear 0s alternate infinite boll;
}

@keyframes boll {
    from {
        height: 190px;
        width: 210px;
        transform: translateY(50px);
    }
    to {
        height: 200px;
        width: 190px;
        transform: translateY(-100px);
    }
}

.shadow-inner {
    /* display: flex;
    justify-content: center;
    align-content: center; */
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: 1s linear 0s alternate infinite shadow;
}

@keyframes shadow {
    from { 
        height: 50px;
        width: 150px;
    }
    to {
        height: 20px;
        width: 80px;
    }
}

main div {
    margin: 30px auto;
    width: 800px;
    border: solid #000;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
}

main .boll {
    height: 200px;
}

main .shadow {
    margin-bottom: 50px;
    height: 50px;
}

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 4;
    .boll {
        margin-top: 15%;
    }
    p {
        margin-top: 20px;
        text-align: center;
    }
}
