main {
    width: 800px;
    margin: 30px auto;
    padding: 50px;
    border: solid #000;
    border-radius: 20px;
    p {
        line-height: 30px;
    }
}

main p:first-child {
    font-size: larger;
    text-align: center;
    font-weight: 1000;
}
